<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates_settings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div align="left">
            Настройка шаблонов
        </div>
    </div>



    <form action="{{ url_for('create_shablon') }}" method='POST' >
      {% for field in form %}
        <div class="form-group">
          {{ field.label() }}
          {{ field() }}
        </div>
      {% endfor %}

<!--      <div class="form-row">-->
<!--        <div class="form-group col-md-6">-->
<!--          <label for="title">Название шаблона</label>-->
<!--          <input type="text" class="form-control" id="title">-->
<!--        </div>-->
<!--        <div class="form-group col-md-2">-->
<!--          <label for="inputTimeFrom">Время снятия стартовой цены от</label>-->
<!--          <input type="time" class="form-control" id="inputTimeFrom">-->
<!--        </div>-->
<!--        <div class="form-group col-md-2">-->
<!--          <label for="inputTimeTo">Время снятия стартовой цены до</label>-->
<!--          <input type="time" class="form-control" id="inputTimeTo">-->
<!--        </div>-->

<!--        <div class="form-group col-md-6">-->
<!--          <label for="triggerStart">Триггер для лимита вход +-,%</label>-->
<!--          <input type="number" class="form-control" id="triggerStart">-->
<!--        </div>-->
<!--        <div class="form-group col-md-6">-->
<!--          <label for="triggerStop">Триггер для лимита выход по стопу +-,%</label>-->
<!--          <input type="number" class="form-control" id="triggerStop">-->
<!--        </div>-->

<!--        <div class="form-group col-md-6">-->
<!--          <label for="orderStopIV">Лимит ордер для выхода по профиту, % к IV</label>-->
<!--          <input type="number" class="form-control" id="orderStopIV">-->
<!--        </div>-->
<!--        <div class="form-group col-md-6">-->
<!--          <label for="orderStopObiem">Лимит ордер для выхода по профиту, объем в %</label>-->
<!--          <input type="number" class="form-control" id="orderStopObiem">-->
<!--        </div>-->

<!--        <div class="form-group col-md-6">-->
<!--          <label for="risk">Риск на сделку, в %</label>-->
<!--          <input type="number" class="form-control" id="risk">-->
<!--        </div>-->
<!--        <div class="form-group col-md-6">-->
<!--          <label for="timeToClose">Время авто-закрытия сделок</label>-->
<!--          <input type="time" class="form-control" id="timeToClose">-->
<!--        </div>-->
<!--      </div>-->

      <button type="submit" class="btn btn-primary">Сохранить шаблон</button>
    </form>

    <p>
      <h3 align="left">
        СОХРАННЕНЫЕ ШАБЛОНЫ
      </h3>
      {% for shablon in shablons %}
        <p>
            <a href="{{ url_for('shablon_detail', slug=shablon.slug) }}">
                {{ shablon.title }}
            </a>
        </p>
      {% endfor %}
    </p>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
