<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Файл
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <a class="nav-link dropdown-toggle" href="#" id="navbarD" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Добавить</a>
                      <div class="dropdown-menu" aria-labelledby="navbarD">
                            <a class="dropdown-item" href="{{ url_for('create_shablon') }}">На основе шаблона</a>
                            <a class="dropdown-item" href="{{ url_for('add_deal') }}">Вручную</a>
                      </div>
                  <a class="dropdown-item" href="#">Изменить</a>
                  <a class="dropdown-item" href="#">Удалить</a>
                  <a class="dropdown-item" href="#">Корректировка</a>
                  <a class="dropdown-item" href="#">Запустить</a>
                  <a class="dropdown-item" href="#">Остановить</a>
                  <a class="dropdown-item" href="#">Запустить все</a>
                  <a class="dropdown-item" href="#">Остановить все</a>
                </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('create_shablon') }}">Настройки</a>
              </li>
        </ul>
      </div>
    </nav>


    <div class="container">
        <div align="left">
            Портфель
        </div>
    </div>

    <div>

        <table class="table table-dark">
            <thead>
                <tr>
                  <th scope="col">№</th>
                  <th scope="col">Счет</th>
                  <th scope="col">Тикер</th>
                  <th scope="col">IV</th>  <!--не латиница а англ буквы -->
                  <th scope="col">Состояние</th>
                  <th scope="col">Время снятия от</th>
                  <th scope="col">Время снятия до</th>
                  <th scope="col">Автозакрытие</th>
                  </tr>
            </thead>
            <tbody>
                <tr>   <!--добавить method=GET ???? сделать ЦИКЛ FOR-->
                  <th scope="row">1 ???</th>
                  <td>ВставитьСсылку ???</td>
                  <td>{{ tiker }}</td>
                  <td>{{ IVvolativ }}</td>
                  <td>ВставитьСсылку ???</td>
                  <td>{{ goodAfterTime }}</td>
                  <td>{{ goodTillDate }}</td>
                  <td>ВставитьСсылку ???</td>
                </tr>
                <tr>
                  <th scope="row">1 ???</th>
                  <td>ВставитьСсылку ???</td>
                  <td>ВставитьСсылку ???</td>
                  <td>ВставитьСсылку ???</td>
                  <td>ВставитьСсылку ???</td>
                  <td>ВставитьСсылку ???</td>
                  <td>ВставитьСсылку ???</td>
                  <td>ВставитьСсылку ???</td>
                </tr>

            </tbody>
        </table>

    </div>


    <iframe width="1300" height="300" src=http://127.0.0.1:5000/log></iframe>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
